body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url("/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: 5s;
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out; */
}
/* @keyframes animate {
  0% {
    background-image: url("/images/bg2.jpg");
  }
  20% {
    background-image: url("/images/bg3.jpg");
  }
  40% {
    background-image: url("/images/bg4.jpg");
  }
  60% {
    background-image: url("/images/bg5");
  }
  80% {
    background-image: url("/images/bg3");
  }
  100% {
    background-image: url("/images/bg1.jpg");
  }
} */
.packages {
  background-color: aliceblue;
}
.packages button {
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.wild-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wild-packages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pack1,
.pack2,
.pack3 {
  width: 30%;
  background-color: white;
  padding: 10px;
  margin: 3px;
}
h1 {
  background-color: rgb(145, 100, 34);
}
.pack1 img {
  max-width: 100%;
}
.pack2 img {
  max-width: 100%;
}
.pack3 img {
  max-width: 100%;
}
.coast1,
.coast2,
.coast3 {
  width: 30%;
  background-color: white;
  padding: 10px;
  margin: 3px;
}
.coast-tours {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.cst-packages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.coast1 img {
  max-width: 100%;
}
.coast2 img {
  max-width: 100%;
}
.coast3 img {
  max-width: 100%;
}
.wknd1,
.wknd2,
.wknd3 {
  width: 30%;
  background-color: white;
  padding: 10px;
  margin: 3px;
}
.weekend-tours {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.wknd-packages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wknd1 img {
  max-width: 100%;
}
.wknd2 img {
  max-width: 100%;
}
.wknd3 img {
  max-width: 100%;
}
.hold1,
.hold2,
.hold3 {
  width: 30%;
  background-color: white;
  padding: 10px;
  margin: 3px;
}
.holiday-tours {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.hold-packages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hold1 img {
  max-width: 100%;
}
.hold2 img {
  max-width: 100%;
}
.hold3 img {
  max-width: 100%;
}
.modalBox {
  border: 1px solid black;
  width: 60%;
  margin: 10px;
}
.formHolder h3 {
  background-color: orange;
  padding: 20px;
}
form {
  padding: 30px;
}
input {
  padding: 7px;
}
.address-div,
.persons,
.datesPick {
  display: flex;
  flex-direction: row;
}
#submit {
  background-color: orange;
  width: 10%;
}
#name {
  width: 65%;
}
.flexInputs {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 5px;
}
/* modalBox */
.modalBox {
  /* display: none; */
  background-color: rgba(255, 255, 255, 0.8);
  /* position: fixed; */
  z-index: 1;
  left: 20%;
  right: 0%;
  top: 0;
}
