body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url("/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: 5s; */
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
@keyframes animate {
  0% {
    background-image: url("/images/bg2.jpg");
  }
  20% {
    background-image: url("/images/bg3.jpg");
  }
  40% {
    background-image: url("/images/bg4.jpg");
  }
  60% {
    background-image: url("/images/bg5");
  }
  80% {
    background-image: url("/images/bg3");
  }
  100% {
    background-image: url("/images/bg1.jpg");
  }
}
.packages {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}
.wild-tours {
  display: flex;
}
.pack1,
.pack2,
.pack3 {
  width: 30%;
  background-color: white;
  padding: 10px;
  margin: 3px;
}
h1 {
  background-color: rgb(145, 100, 34);
}
.pack1 img {
  max-width: 100%;
}
.pack2 img {
  max-width: 100%;
}
.pack3 img {
  max-width: 100%;
}
